<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Handy Helper: Add a Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
            .go{
                background-color:#2f0085e3;
                color: white;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }
            .messages{
                color:red;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 17px;
                font-weight: bold;
            }
        </style>
</head>
<body>

        <!-- show header panel-->
        <div class="container row">
            <div class="left_side col">
                <h4>Add A Job</h4>
            </div>
            <div class="right_side col">
                <div class="align-right">
                    <a href="/dashboard">Back to Dashboard</a> | 
                    &nbsp;<a href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <!-- end header panel-->

        <p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        </p>

        <div class="container row">
            <div class="left_side col">
                <form action="/processjob" method="post">
                    {% csrf_token %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Job Title:</td>
                            <td><input type="text" name="job_name" size="20" maxlength="120"></td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><textarea name="description" cols="20" rows="4"></textarea></td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td><input type="text" name="location"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Add Job" class="go">
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
                </div>
        </div>
</body>
</html>