<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Handy Helper: Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js">
    <style>
        .go{
            background-color:#2f0085e3;
            color: white;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .messages{
            color:red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: bold;
        }
    </style>
</head>
<body>
        <!-- show header panel-->
        <div class="container row">
            <div class="left_side col">
                <h4>Welcome {{ user.first_name }}!</h4> 
            </div>
            <div class="right_side col">
                    <a href="/addJob">Add New Job</a> | 
                    <a href="/logout">Logout</a>
            </div>
        </div>
        <!-- end header panel-->
    <p>&nbsp;</p>
    <div class="container row">
    <!-- begin left column-->
        <div class="left_side col">
            <h5>Available Jobs</h5>
        <!-- show available jobs-->
        <table id="dtBasic" class="table table-striped table-bordered">
            <thead>
                <th class="th-sm">Job</th>
                <th class="th-sm">Location</th>
                <th class="th-sm">Actions</th>
            </thead>
            <tbody>
            {% for j in jobs %}
            <tr>
                <td>{{j.job_name}}</td>
                <td>{{j.location}}</td>
                {% if user.id == j.user_id  %}
                <td> <a href="/view/{{ j.id }}">View</a> | 
                     <a href="/addtomyJob/{{ j.id }}">Add</a> | 
                     <a href="/edit/{{ j.id }}">Edit</a> | 
                     <a href="/deletejob/{{ j.id }}">Cancel</a></td>
                {% else %}
                <td> <a href="/view/{{ j.id }}">View </a> | 
                     <a href="/addtomyJob/{{ j.id }}">Add</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}    
            </tbody>
        </table>
        <!-- end available jobs-->
    </div>
    <!-- end left column-->

    <!-- begin right column-->
    <div class="right_side col">
        <!-- show my jobs-->
        <h5>My Jobs</h5>
        <table id="dtBasic" class="table table-striped table-bordered">
            <thead>
                <th>Job Name</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for m in myjobs %}
                <tr>
                    <td>{{m.job_name}}</td>
                    <td><a href="/view/{{ m.id }}">View</a> | 
                         <a href="/deletejob/{{ m.id }}">Done</a>
                    </td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
        <!-- end show my jobs-->
    </div>
    <!-- end right column-->
</div>
<!-- data tables sorting JS -->
<script>
$(document).ready(function() {
    $('#dtBasic').DataTable();
} );
</script>
</body>
</html>