<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Handy Helper</title>
    <style>
        .go{
            background-color:#2f0085e3;
            color: white;
            border-radius: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .messages{
            color:red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container row">
        <!-- begin left column-->
            <div class="left_side col">
                <h2>Welcome to Handy Helper</h2>
            </div>
            <!-- end left column -->
            <!-- begin right column-->
            <div class="right_side col">
            </div>
        <!-- end right column-->
    </div>

    <p>
        <!--  begin messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- end messages -->
    </p>

    <!-- begin main content -->
    <div class="container row">
        <!-- begin left column-->
        <div class="left_side col">
            <!-- begin register form -->
            <h3>Register</h3>
            <form action="/register" method="post">
                {% csrf_token %}
            <table class="table table-hover">
            <tr>
                <td>First name:</td>
                <td><input type="text" name="first_name"></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" name="last_name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Confirm password:</td>
                <td><input type="password" name="password_confirmation"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="go" value="Register"></td>
            </tr>
            </form>
        </table>
        </div>
        <!-- end register form-->

        <!-- begin login form-->
        <div class="right_side col">
            <h3>Login</h3>
            <table class="table table-hover">
            <form action="/login" method="post">
                {% csrf_token %}
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="login_email"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="login_password"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="go" value="Login"></td>
                </tr>
            </form>
            </table>
        </div>
        <!-- end login form-->

    </div>    
</body>
</html>