<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .job_details{
            border: 1px dashed blue;
            display: inline-block;
            padding: 20px;
            width: 500px;
        }
    </style>
</head>
<body>

    <div class="container row">
        <!-- begin left column-->
            <div class="left_side col">
                <h4>View Job Posting</h4>
            </div>
            <!-- end left column -->
            <!-- begin right column-->
            <div class="right_side col">
                    <a href="/dashboard">Back to Dashboard</a> | 
                    <a href="/logout">Logout</a>
            </div>
        <!-- end right column-->
    </div>

    <p>&nbsp;</p>

    <div class="container row">
        <div class="col">
            <div class="col">
                <h5>Job Name: {{ job.job_name }}</h5>
                <div class="job_details">
                    <b>Description:</b> <blockquote>{{ job.description }}</blockquote><br>
                    <b>Location:</b> {{ job.location }}<br>
                    <b>Posted By:</b> {{user.first_name}} {{user.last_name}}<br>
                    <b>Posted on:</b> {{ job.updated_at }}
                </div>
                <p><a href="/addtomyJob/{{ job.id }}"><b>Add To My Jobs</b></a></p>
            </div>
        </div>
</body>
</html>